<aside class="notice">

Please note that for corporate Investors the KYB status endpoint should be used

<a href="#investors-get-platformapi-investors-clientid-kyb">
  <code>GET /investors/{clientId}/kyb</code>
</a>

</aside>
